/* GLOBAL CSS */
:root,
:root.light {
  --bg: rgb(229, 231, 235);
  --display-button: #000;
  --display-button-hover: whitesmoke;
  --h1-color: #000;
  --a-color: rgb(8, 126, 164);
  --a-hover-color: rgb(53, 181, 224);
  --head: #fff;
  --head-bottom: 1px solid rgb(35,39,47, 0.125);
  --head-text: #000;
}

:root.dark {
  --bg: #181b20;
  --display-button: #fff;
  --display-button-hover: #333;
  --h1-color: #fff;
  --a-color: rgb(53, 181, 224);
  --a-hover-color: rgb(8, 126, 164);
  --head: linear-gradient(rgba(35,39,47,255), rgba(35,39,47,255));
  --head-bottom: 1px solid rgb(246, 247, 249, 0.125);
  --head-text: #fff;
}

/*
.about-link {
  color: lightblue;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.about-link:hover {
  color: rgb(53, 181, 224);
  transition: 0.3s;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: var(--bg);
}

h1 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}